<?xml version="1.0" encoding="utf-8"?>
<!-- Synthetic secrets for scanner testing only. DO NOT USE IN PRODUCTION. -->
<configuration>
  <appSettings>
    <add key="TYPE3601_SF_SESSION_ID" value="sf.sessionId=00Ds2DNS8LrCo9n!SWK79uUo2yfnURvIkScHE2rx6k9PRNPBUsxhpdpU8cwIRfIB97FBrCa2cEXZGGTdBUuEH8xzJQVj0SSS3bxCbRjKCqtGwG" />
    <add key="TYPE3602_SF_SECURITY_TOKEN" value="sf.securityToken=s46BlDDGfMLVN9vDZBEjhORh" />
    <add key="TYPE3603_SF_CONSUMER_KEY" value="sf.consumerKey=62ccf1cdbd1dab50a9bccc544b1477e5663bb2052a86245cd98f14f4a830131d" />
    <add key="TYPE3604_SF_CLIENT_SECRET" value="sf.clientSecret=5hZAOsyzr53JBrbNZGPuRZOSRZqy4ZqrvlBJv9OW9i6coukGBERCFXn3DEuM" />
    <add key="TYPE3605_SF_REFRESH_TOKEN" value="sf.refreshToken=5Aeptf7PQPCqHsqix-LIS9asdL1eC9g7m8-1SKtflvaY2JPhRGtXbN4GqDZQbCrjKjd0jtKKcNU7VtEiTPanbw18" />
    <add key="TYPE3606_SFDX_AUTH_URL" value="SFDX_AUTH_URL=force://5a5ed84a026a1fba6e8db7f832a16ede8a2495d55925e9b0c53bc38c0d991a38:RDfLY9IyVrZqEqBv1IuKe4Hq18E_sEl1XwAK5QSAsV77Lb48cvKwO5:5Aepr1ZBQ31QqGwqfzKRkIM-_Cj-xYCQa53wXkA56HGbD2zXqFGu0tKsqhQdKTN3OQ3LjQXCrwTLHaV2@https://KhJIGnKs.my.salesforce.com" />
    <add key="TYPE3607_SF_LOGIN_URL" value="sf.loginUrl=https://login.salesforce.com" />
    <add key="TYPE3608_SF_INSTANCE_URL" value="sf.instanceUrl=https://KockgYZk.my.salesforce.com" />
    <add key="TYPE3609_SF_JWT_ASSERTION" value="sf.jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJZV3FsTXdJVm8wIiwiaWF0IjoxNzc5Nzk1OTI2LCJhdWQiOiJodHRwczovL3Rlc3Quc2FsZXNmb3JjZS5jb20ifQ.O0XAnGDwCpcU2lTZXFrgtpYkm30qzuiB-KoBoVJJV2Q" />
    <add key="TYPE3610_SF_NAMED_CRED" value="sf.namedCredential.password=8HH8b19cs1R8ilpoKZ8ujRMs9r" />
    <add key="TYPE3611_SF_SESSION_ID" value="sf.sessionId=00D3z5eernRwR9k!3X5w0LAWQlcC8OTW4AEhNzMkITBun2sw5LAC9eh5XMZaDb6Yd3a4o152aifKcY993dw6cBfwqN8soGxaKjOQdgyvaea" />
    <add key="TYPE3612_SF_SECURITY_TOKEN" value="sf.securityToken=JVzhM5XQtu3m5KC2hucYdQWa" />
    <add key="TYPE3613_SF_CONSUMER_KEY" value="sf.consumerKey=55d521daa1c97f586a54e87e04a8d817a89c32f8f735f334f551c93703389496" />
    <add key="TYPE3614_SF_CLIENT_SECRET" value="sf.clientSecret=cVV8d81JWqMJvg1LRXXr6YnIY1xFFmllNBTy_Kg34j5VRw" />
    <add key="TYPE3615_SF_REFRESH_TOKEN" value="sf.refreshToken=5Aep3P9XBSJ4Xx48MAEdTxNJ2BKq4y-Qtu1nJkaNF3vPnZ9SkD9gFmrzJ0Sd0baojlD61feD7PnYtXX2gb0r2l1lO" />
    <add key="TYPE3616_SFDX_AUTH_URL" value="SFDX_AUTH_URL=force://6b2eb80dfeaeb0495965ae44bfcc2fdb95bec0ed3d27a535068ee793af023748:6A1-Q_hPrVXvlbKIVzCBncCZd3rgW5V5mfMiz8mB-l-:5AepxPLosYKIvNmsEuS3mpAWjRcSzG--zx_2svXhKI67Ruib8H6bIXLiEm7zRLiJRpWkI4YkEhBJpOcMq6M_9g84Gj_wCU3OV@https://30LAX9VD.my.salesforce.com" />
    <add key="TYPE3617_SF_LOGIN_URL" value="sf.loginUrl=https://test.salesforce.com" />
    <add key="TYPE3618_SF_INSTANCE_URL" value="sf.instanceUrl=https://4donnNTf.my.salesforce.com" />
    <add key="TYPE3619_SF_JWT_ASSERTION" value="sf.jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJQTjFuOUxxeGZQIiwiaWF0IjoxNzc5Nzk1OTI2LCJhdWQiOiJodHRwczovL3Rlc3Quc2FsZXNmb3JjZS5jb20ifQ._FnXf1P-xdLOPW94Xk7VrA4uZaZ01AvZ_g_Ax70tKlg" />
    <add key="TYPE3620_SF_NAMED_CRED" value="sf.namedCredential.password=bfzBCVG2xPE5TEKt7qjg6JhUYC" />
    <add key="TYPE3621_SF_SESSION_ID" value="sf.sessionId=00DaXNT0vrK2i9R!I3wdYbMlmQKNyBDCuxSIXPyU0y5kHAo1K4M1lJob2HCe2WaMuJ8VZuTKyvzXz0wWYl683Hm1JB5jI5l" />
    <add key="TYPE3622_SF_SECURITY_TOKEN" value="sf.securityToken=xvdBbPpdvjnxOzxLagMV2tWO" />
    <add key="TYPE3623_SF_CONSUMER_KEY" value="sf.consumerKey=245ec873fb35df16c17464a3bf2751ddf7caff2e9b2cf0c78b677e3e3928c9a7" />
    <add key="TYPE3624_SF_CLIENT_SECRET" value="sf.clientSecret=7IC5HRmdqcgoAIE7YEkHZZTacJjrszhyGJk6pMJVi94SW9n_4Vk" />
    <add key="TYPE3625_SF_REFRESH_TOKEN" value="sf.refreshToken=5Aep8hdj4wYb4SPntgLeDY0qz04Y-S1s7N_NaNhujxUqkcg1mhnUxfBMuaTA1i96tvbiicJJMDLMYcfID4z-APQD" />
    <add key="TYPE3626_CONNSTR" value="Server=tcp:Qvebhu.database.windows.net,1433;Database=gax0D1Pn;User ID=DmKMU4;Password=fdbo2AUST3Tfv4RiV59I4MRBvchgi9DUxsy6T01mnP90EO1qilP6P;Encrypt=True;" />
    <add key="TYPE3627_MONGO_URI" value="mongodb+srv://96iDMY:5cM96HO7WKlcf6VqMOHkf3ezyfE4QJM@2K84Ao.example.net/SXtM9k?retryWrites=true&amp;w=majority" />
    <add key="TYPE3628_PG_URI" value="postgresql://1YTNTf:uU2C6nVlzngjHN0lN8u7bclpM7eyy4HCyetaH3AabqMBD@xZ87aH.example.net:5432/4aYtC3aH" />
    <add key="TYPE3629_REDIS_URI" value="redis://:CxwdEuzTQtMoJ7vrqLVg9toqPel9qfG5gCdTx6vN8wpM3q4AHvXPw@VWDaLF.example.net:6379/0" />
    <add key="TYPE3630_JWT" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ4T2kyeW5tdDFmIiwiaWF0IjoxNzc5Nzk1OTI2LCJhdWQiOiJleGFtcGxlIn0.9-Eq2FnWUJdC6EFv2yMPyuNiqOd0fLJ5mLrD-SNNcfo" />
    <add key="TYPE3631_WEBHOOK" value="https://hooks.example.com/services/wVd1jjg1L/GBouanlI1/tORN5Qb93FkX5YLoP_CUG0AgNcvlXKOCxraq6hs" />
    <add key="TYPE3632_PRIVATE_KEY_B64" value="private_key_b64=81F6PlZhGS3txC6K2Kx16wPHH6vnlp/HL7XMDKDTuthLxqRTL0Cn/jtDCvzpDiumr/ra8Yfy073yESd0ZFGKlg==" />
    <add key="TYPE3633_SAS" value="sv=2024-11-04&amp;ss=b&amp;srt=sco&amp;sp=rwdlac&amp;se=2030-01-01T00:00:00Z&amp;st=2026-01-01T00:00:00Z&amp;spr=https&amp;sig=pAnS3aTswqRlR33u4hjZFq_-dSX1gedCULilGUojQLw" />
    <add key="TYPE3634_NPM_TOKEN" value="//registry.npmjs.org/:_authToken=QTW_5sP0yB7EjOEDiS_QA_8ieMeactlZinkMWyZjQn" />
    <add key="TYPE3635_GITHUB" value="ghp_yqWaRwZCQcDzoNP6Dvbp42C3R_E-GYHukZPr38weLwMIPz_-Cb8ZunpVX" />
    <add key="TYPE3636_GITLAB" value="glpat-ylg1QwVT4LQc4ejIEqFriLAt" />
    <add key="TYPE3637_SENDGRID" value="SG.Se5Jv2dI5OXvT6_bnTruKQ.X4sCvWWSeRrE6LNC7M4iR1JRb4PTGpwP" />
    <add key="TYPE3638_GCP" value="AIzauNpijeVf6il7q1Bph5lTqe0XQ025mBPY-zN" />
    <add key="TYPE3639_API_KEY" value="api_key=2doUSuZzNRaEuktC22oN6Q6F6GyrC-CMgY_FG1-YLLvF34WdpHZmdJv9Z6BM" />
    <add key="TYPE3640_TOKEN" value="token:WMg5E02co6EHifhbYFF5QCOqxy5hzNQfw1sKNDEjcWgThLt0X" />
    <add key="TYPE3641_PASSWORD" value="password=dtLmojc9Vt01P1_KRxlwRrMU3D5qOpBfbjKegFi" />
    <add key="TYPE3642_CLIENT_SECRET" value="client_secret=QGmk2irmIMoSAIPdNXpaKunOPo8oVzjsls8TwSSUcO4yLML2wm8ogTwM" />
    <add key="TYPE3643_BEARER" value="Authorization: Bearer ccT3bE-xdERaCFOp0PUpFApTklz7Q_Xsz-C4xq" />
    <add key="TYPE3644_BASIC" value="Authorization: Basic SlRGTnY2Sk06bGVNNFdYWWVUZ0t4" />
    <add key="TYPE3645_CONNSTR" value="Server=tcp:Wktcl3.database.windows.net,1433;Database=1uUah8pE;User ID=8TCJtk;Password=KdThDo_c8WDR86jS27dd_3kJ6FyzguXJmyEF;Encrypt=True;" />
    <add key="TYPE3646_MONGO_URI" value="mongodb+srv://14TTgH:SRtORbCXua7b1Eyfr7RVNhJB44st_z8HiRgGo4@3oV7YJ.example.net/tBAn15?retryWrites=true&amp;w=majority" />
    <add key="TYPE3647_PG_URI" value="postgresql://dFimyc:w2hocdt1Bv5Ky7ROReWjM5tqSmptAO3LK9pXoJQrRLjrVEHXYyfbpGOEMC@5SDx5E.example.net:5432/83l0TpAb" />
    <add key="TYPE3648_REDIS_URI" value="redis://:YJNTu097pugKRiipX3VQaqKSL8YRN3@KL361Z.example.net:6379/0" />
    <add key="TYPE3649_JWT" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI3OTB0aXlhMWhyIiwiaWF0IjoxNzc5Nzk1OTI2LCJhdWQiOiJleGFtcGxlIn0.M3S0NtSnkYEewZo5Sf92PRHYa8p0i1_jHmbqzhNFImg" />
    <add key="TYPE3650_WEBHOOK" value="https://hooks.example.com/services/IQ6rr5nLT/iG4XXvZSR/501lGAvTrhK44PpVrIrPuBH6OZQZY58nMZAwcdkoyJ0eX4LrVm" />
    <add key="TYPE3651_PRIVATE_KEY_B64" value="private_key_b64=mzmqLy2AivU1Kp7kXZTRbGkTCMgwZLL6wnI/GMfvp7Tg/gtnkUIBR7Au0E8tuxgCull8XxkDqJ/9E8UOqzmafA==" />
    <add key="TYPE3652_SAS" value="sv=2024-11-04&amp;ss=b&amp;srt=sco&amp;sp=rwdlac&amp;se=2030-01-01T00:00:00Z&amp;st=2026-01-01T00:00:00Z&amp;spr=https&amp;sig=Om2gxlgnl12twNoWRPh43xbHifN_Uh5RiBYzvSqp8Fk" />
    <add key="TYPE3653_NPM_TOKEN" value="//registry.npmjs.org/:_authToken=APLk0XrYNiyflVA_cDTdNu7U6SM2F1Xn3" />
    <add key="TYPE3654_GITHUB" value="ghp_Pf0S2-rHIGCtm2R0rs_Gx4rY8mIJaHHDr781B_FYN" />
    <add key="TYPE3655_GITLAB" value="glpat-a3FuKLWrZU2LxDwgKzPtVFED5P" />
    <add key="TYPE3656_SENDGRID" value="SG.ZTfSxFM1Uomoe1H3YMrtot.mm6hQuEBW0JOUDXDa7YoNw079Q98GvtPn3vv-mdsnXRWCT" />
    <add key="TYPE3657_GCP" value="AIzaz7I__K8VSjMyZcQG_iQCg3sKKiGmALeQHr_" />
    <add key="TYPE3658_API_KEY" value="api_key=arbxWb4LYbmhxE5RKwQLqdNAdL3xY" />
    <add key="TYPE3659_TOKEN" value="token:AEdnYXnelgf2Mpke4tr91urv6RoLCQzgiAu9rTTHF4J9spwpCx9oryMUS5H" />
    <add key="TYPE3660_PASSWORD" value="password=cnrWZ-4nkg6FEV2NOpsMypiBlcLGmhUUIyDiFxHmvn5v5" />
    <add key="TYPE3661_CLIENT_SECRET" value="client_secret=N0_qv5zwbO_zmyu8FjmA5yoQeMB3cGlgPYDrUIjsIf68bWitp" />
    <add key="TYPE3662_BEARER" value="Authorization: Bearer WU8BQ7Wrut1cUIMgrtvG-90mRLvTqGD9xuHvGFG" />
    <add key="TYPE3663_BASIC" value="Authorization: Basic czFyR3o2Qkg6R05CbnQ5NThVVWtj" />
    <add key="TYPE3664_CONNSTR" value="Server=tcp:2pbu7o.database.windows.net,1433;Database=hRkOfLKC;User ID=hhn9kD;Password=GqV8P1H6rlcnYSh5-QLWuQULCkilxe004irTs77Qz8O;Encrypt=True;" />
    <add key="TYPE3665_MONGO_URI" value="mongodb+srv://U5KtqK:73eAScKw9sAm8l9eJCorMe7P7TfQ0LyqnaQLEsdkXwMQwrFOVtANZD0M@0JJLDr.example.net/SXNzQO?retryWrites=true&amp;w=majority" />
    <add key="TYPE3666_PG_URI" value="postgresql://oAvyl3:iRY8IZRVJlqug6zX1QsArO4QTunOxLaqidnotACqxgd26wjQkUvyBhv2@FkA1qC.example.net:5432/vku58l6V" />
    <add key="TYPE3667_REDIS_URI" value="redis://:rW5O7ePpt431LVP6hwql5Vn79QIv@zsMhhi.example.net:6379/0" />
    <add key="TYPE3668_JWT" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJiT2VJU25UV1NyIiwiaWF0IjoxNzc5Nzk1OTI2LCJhdWQiOiJleGFtcGxlIn0.CCxKixhGOwh0F8nv4FqxA-WVzcW7-CwEgWg58AIM21E" />
    <add key="TYPE3669_WEBHOOK" value="https://hooks.example.com/services/ivgz8FaJc/Br5iCv427/dohxjkE_cGSiA93mVbck-i1UugRsnTL6NQ0pmRNqSf7EAQ5QeYT8LoXIrE" />
    <add key="TYPE3670_PRIVATE_KEY_B64" value="private_key_b64=E8m9npCk+5mYi1yETZe0QwXLV8SG7pcnbqA7dTfxOD0+dTN2pNg72MttqmrxK5/vW+rZ5mfj7JgfMZ++e22i4Q==" />
    <add key="TYPE3671_SAS" value="sv=2024-11-04&amp;ss=b&amp;srt=sco&amp;sp=rwdlac&amp;se=2030-01-01T00:00:00Z&amp;st=2026-01-01T00:00:00Z&amp;spr=https&amp;sig=2UutH2effa8eBwRIe_J4sfJxCZqc1pUErYhD6gGugCU" />
    <add key="TYPE3672_NPM_TOKEN" value="//registry.npmjs.org/:_authToken=svr1B3lhQxNuO5MhaCCxroD5ARhJPjPFHhya9L10OJki4yz71PXuDGAus3" />
    <add key="TYPE3673_GITHUB" value="ghp_by-MrnwNXr4CMXu2aH4InsdR_8VPf" />
    <add key="TYPE3674_GITLAB" value="glpat-b9BQGcDcfmUYBwVD7O0p" />
    <add key="TYPE3675_SENDGRID" value="SG.S51nM2Uk4wHHFLoQMca6HQ.b57qxi2e473B5LywRTixT0T2k_TcSDS5ol_oZpS" />
    <add key="TYPE3676_GCP" value="AIzazfNvV013k6FZW3ufBiAuM8sJ0eNBH-ShmO4" />
    <add key="TYPE3677_API_KEY" value="api_key=7OSkDHG26wP8TLi5h5ui8P-lyfMboh5IsOHFHpYe" />
    <add key="TYPE3678_TOKEN" value="token:jYjdwTSguomAXjHZos8MDX4jRMiU6rBGA-5LzG219Y" />
    <add key="TYPE3679_PASSWORD" value="password=75o-C2v4BDqA3iEcSWLE5h46Q4WVLxoZNWEr6kuqH-DQ-bKYf4RQc" />
    <add key="TYPE3680_CLIENT_SECRET" value="client_secret=gKskv6OB7QqcihzYFpFHIJassr_bBjRut" />
    <add key="TYPE3681_BEARER" value="Authorization: Bearer kDxJ-W7A7muCATMwShUs-r37DHcRN_2hjUrH9aSIVChXbE8" />
    <add key="TYPE3682_BASIC" value="Authorization: Basic dnZ2UGVTeXM6bnp1RGRXUnhMOGZw" />
    <add key="TYPE3683_CONNSTR" value="Server=tcp:kHmWcV.database.windows.net,1433;Database=qo7JU82i;User ID=l2QCyR;Password=XhHSplc15bAo3JGQYeTFcJuYiREdxu7QG2dBK;Encrypt=True;" />
    <add key="TYPE3684_MONGO_URI" value="mongodb+srv://8AFytR:8Rz4QVmBYn2pDSDvM7ATvHU4ilFL3bJ1c50hxFqwmTyAt9@Zs7hAr.example.net/XqlWed?retryWrites=true&amp;w=majority" />
    <add key="TYPE3685_PG_URI" value="postgresql://Ry60d8:6fBf7F62oc3bnqmTrajgo7LOovK_0n3w4CunHlfy2WE-UMVXTw794TPQEGjr@zjqvEN.example.net:5432/0l9A5mKh" />
    <add key="TYPE3686_REDIS_URI" value="redis://:CPZ3yNBbeCyKaBU09vgMcJYwHGZCjE-YHUPjzVWFa_5TuHG0FmcJFIFR@AMLfdb.example.net:6379/0" />
    <add key="TYPE3687_JWT" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJzUVdHdlBBS0hYIiwiaWF0IjoxNzc5Nzk1OTI2LCJhdWQiOiJleGFtcGxlIn0.YLbntpj_yu24QNyN6W4nWhoML0jv2GzdlzfmBiL8jAQ" />
    <add key="TYPE3688_WEBHOOK" value="https://hooks.example.com/services/j8jVgjaz9/PyKwVKs4d/30k0sacUwuWrvZpQ38QnACiRd0Aj" />
    <add key="TYPE3689_PRIVATE_KEY_B64" value="private_key_b64=RhQnpVY1EKIf2yFtgDrqHmIq7beYU5+GnaWMSTI6vKdEWXUBA/yW3V/Ql1acftdA5KHSx30iX6zln+tBUsycDw==" />
    <add key="TYPE3690_SAS" value="sv=2024-11-04&amp;ss=b&amp;srt=sco&amp;sp=rwdlac&amp;se=2030-01-01T00:00:00Z&amp;st=2026-01-01T00:00:00Z&amp;spr=https&amp;sig=sMcA8IEhxZYPS86fFRIviAqp7_1W3FDTXai3u9FpVbw" />
    <add key="TYPE3691_NPM_TOKEN" value="//registry.npmjs.org/:_authToken=AcqViq14SJFsmCLrXqm8zq152vC1aCu-3i1rqv" />
    <add key="TYPE3692_GITHUB" value="ghp_7Jhi6r0p4lNRS0Rqez275jZoaEvv6I_F52xroO17qiyAwSppnNmMWDd3P" />
    <add key="TYPE3693_GITLAB" value="glpat-h36E-gimy4CCSQx3RrPfLX4gyROn" />
    <add key="TYPE3694_SENDGRID" value="SG.blpqHgv2OruYfig65m5k_G.UA6wpwOp-3j-ztx3j_dSSeBL" />
    <add key="TYPE3695_GCP" value="AIzahKxnMHOy7Qp0bR6o7625rlLIt4XZ2nPr9lc" />
    <add key="TYPE3696_API_KEY" value="api_key=uNvc8BzWBxEmap4PKyYtqMhEcp_r6aXyYZG6QpOrHZTmjV" />
    <add key="TYPE3697_TOKEN" value="token:2zzd9U5qmaHEef63fQme8bKcEW8f6" />
    <add key="TYPE3698_PASSWORD" value="password=5VAd3GxhRGEmO1yqGit2MOGpQE3H8AHR22w_Xo56nrSiar" />
    <add key="TYPE3699_CLIENT_SECRET" value="client_secret=CxxcOuaU54trsV7Cgt-rpcWyHNRyFIEf1XLu" />
    <add key="TYPE3700_BEARER" value="Authorization: Bearer t0thkuPU11-jQG08DJbltU5SfWLIeGzjmSOmpVGUTYRdAFINak8PzH" />
    <add key="TYPE3701_BASIC" value="Authorization: Basic eHJKQzhrbVk6RkZRNE5JbjBDQXNn" />
    <add key="TYPE3702_CONNSTR" value="Server=tcp:l417zr.database.windows.net,1433;Database=8IGJifIy;User ID=HcuyDZ;Password=5TQFoKkgRzeJJF98HYCITEf4EWo3AEUp5I7J-qzY6;Encrypt=True;" />
    <add key="TYPE3703_MONGO_URI" value="mongodb+srv://8URq3C:_Gv7eK1VILYoI4f0qDOpEAKjkrAJ_HYdx5JvnQALt28Xj8I3iAhEeBu@VMKaVW.example.net/aAUqAJ?retryWrites=true&amp;w=majority" />
    <add key="TYPE3704_PG_URI" value="postgresql://kowdJ3:KHvQ2qCAjs9kFwQnx9U4Aa_G1yu4Y1mU9Niy__9rqf_C@SqlhHH.example.net:5432/R2n91VFc" />
    <add key="TYPE3705_REDIS_URI" value="redis://:DfPLm3On8gioqjo3WeHqdFoLhH-MrkaIB8u27FFOCrmtx-nNMRBT-CTdn@cRwB5B.example.net:6379/0" />
    <add key="TYPE3706_JWT" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJuTVBFSk9lNG11IiwiaWF0IjoxNzc5Nzk1OTI2LCJhdWQiOiJleGFtcGxlIn0.tH3Qvoul3SVYjYOtLdUZVcydmAR0YfPuYSG2f5ZFJT0" />
    <add key="TYPE3707_WEBHOOK" value="https://hooks.example.com/services/rMcJtGWyP/wTnQqSuE5/TnZ_JCnoiK6J9NeFpuRPGrboKpBeaEaVBEQqmD36VcLd3XStUlEqlScF" />
    <add key="TYPE3708_PRIVATE_KEY_B64" value="private_key_b64=M2QDSAbHjh/PMv9Cuy4DksayYEmiePQgLL54vb3x2of1H5sd67HyXvz0ieBDWOyVGGFPD+v3K2ocaw/x9sWhjQ==" />
    <add key="TYPE3709_SAS" value="sv=2024-11-04&amp;ss=b&amp;srt=sco&amp;sp=rwdlac&amp;se=2030-01-01T00:00:00Z&amp;st=2026-01-01T00:00:00Z&amp;spr=https&amp;sig=RTA-iHrFQU8FLWFk5Ml44ljnRYoozFAEaugdfwAB948" />
    <add key="TYPE3710_NPM_TOKEN" value="//registry.npmjs.org/:_authToken=Pn4pEpx5vJcTt5HyAjsTHXo6xoR4MA" />
    <add key="TYPE3711_GITHUB" value="ghp_g8yqWlgRxNNdnNHaAcKNpw8mRQqXb_H2BG_3zI4yC1jPBCLkXzn99lLDS" />
    <add key="TYPE3712_GITLAB" value="glpat-yNai9VVjTmGOL33KDBGuhhFpnWbq2M" />
    <add key="TYPE3713_SENDGRID" value="SG.7GoXP5UA2zlWlqHlN49rF5.V93maHtiZJyhV__2iCSJjfUCrP" />
    <add key="TYPE3714_GCP" value="AIzanVe-A93o4MppOjqzCS_m6_nrqwwvHUUCXnr" />
    <add key="TYPE3715_API_KEY" value="api_key=aNp2X3asq91kdlgu_tUrhXe5ezhCAaLKd1RGaWaUgDhKVEDoxiyr_NW" />
    <add key="TYPE3716_TOKEN" value="token:_T71QbTFViuyjUkPufwqS0UKBtCybyE6" />
    <add key="TYPE3717_PASSWORD" value="password=zLlK85ml6L4p73XuiVE4UFvtIDX8GmHcM1LxCFOSqetyjg_VewG" />
    <add key="TYPE3718_CLIENT_SECRET" value="client_secret=lfIPZKS-y0XN2Sp-dpcojRuBSUBTozFcFMNCrAp6Sy_DoLH0ChjT3q" />
    <add key="TYPE3719_BEARER" value="Authorization: Bearer jtNY8qLvCrZWoL74WRFgfmOU0HaPGh0" />
    <add key="TYPE3720_BASIC" value="Authorization: Basic NGVjWDEzUTg6TlpZa0hNQkcwSG13" />
    <add key="TYPE3721_CONNSTR" value="Server=tcp:cr28g4.database.windows.net,1433;Database=cjRPVAC3;User ID=S7U9qj;Password=dqcxKoYs3GC46CKrM7PxfDJi5kzPILMlt72B;Encrypt=True;" />
    <add key="TYPE3722_MONGO_URI" value="mongodb+srv://O79Q9g:3WvWVQx2u2IQouWbDsO3KC9wSULd3VB4eHT4dO6nAJwM3p4d34A@VwOL7M.example.net/83pWMw?retryWrites=true&amp;w=majority" />
    <add key="TYPE3723_PG_URI" value="postgresql://gaahOT:xGqD7GxLgltmcfcapO6jyIZLGg9uzI_54mgs-d6khy4@nNOyBR.example.net:5432/Vghbzgbm" />
    <add key="TYPE3724_REDIS_URI" value="redis://:9Vd_yL91dLo2RxBKyVO9EQ96EK-3b_r@ARSPCb.example.net:6379/0" />
    <add key="TYPE3725_JWT" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1Z0M5dVFqSllkIiwiaWF0IjoxNzc5Nzk1OTI2LCJhdWQiOiJleGFtcGxlIn0.t82kpmRHWKf4vLwenDDt1SyUYp1NdT09HmGL-u6j7Pg" />
    <add key="TYPE3726_WEBHOOK" value="https://hooks.example.com/services/bZQxQc2HR/EonA44c0J/fdXsVbjGNzU9F-sAEOM7dNDR9HbDWmH7D" />
    <add key="TYPE3727_PRIVATE_KEY_B64" value="private_key_b64=ba3RHbqKffsh1aXUyO32sMjSpuibwCQP3rKP3WSkIT6TGbPQ7ij4Hs5aIb/nPRZ5R1vW8pf3OqlBKIzChBjcpg==" />
    <add key="TYPE3728_SAS" value="sv=2024-11-04&amp;ss=b&amp;srt=sco&amp;sp=rwdlac&amp;se=2030-01-01T00:00:00Z&amp;st=2026-01-01T00:00:00Z&amp;spr=https&amp;sig=hFHZegpegrd-vaOOm4FnQD8_uqEFgMoBE37N3dwULSY" />
    <add key="TYPE3729_NPM_TOKEN" value="//registry.npmjs.org/:_authToken=Vnyo2wDKcCe4eu0anwEHqxG4fx00YeAM1ODsj2rZwMy767hns5Z" />
    <add key="TYPE3730_GITHUB" value="ghp_srSMB-3oAEyvrqkaZRuO37eGCWRVl7GhlnMl5ynUKF0Q7" />
    <add key="TYPE3731_GITLAB" value="glpat-iw_KJiNygp66z_U1s45gIL7hc" />
    <add key="TYPE3732_SENDGRID" value="SG.VPvgrGMZ9izZMQlPtFaDZf.Fad6G5AGemacgcO4u7jVus9o1ctxVV" />
    <add key="TYPE3733_GCP" value="AIza2Qe1MOwDJrqNcigbv1FSFnvx41KMB8eBlNZ" />
    <add key="TYPE3734_API_KEY" value="api_key=4lJILutLzvoR1AHtqvZJtF0S5oPvyH-VGCOjbQrVLBx_18YTi" />
    <add key="TYPE3735_TOKEN" value="token:dsrXH9xYJSDswWSmPUIhP7oGC_wdPEm8QZECjHjMvJ" />
    <add key="TYPE3736_PASSWORD" value="password=WCjm8_WZHKkQiXhVMmn2CHPZkP3JYGLo" />
    <add key="TYPE3737_CLIENT_SECRET" value="client_secret=xUxYjLf3lKo0YQfAK1Fi7F3ADvL1XxrCScaEj-ZGBN" />
    <add key="TYPE3738_BEARER" value="Authorization: Bearer gmU5obaRBUP_az7nwRxzw1Hd8ObOIwLZB9ZVX4MQ3mlbugnFFq1Rgt" />
    <add key="TYPE3739_BASIC" value="Authorization: Basic TFpuOVhueVg6VjI0bmQ3UlpPbENm" />
    <add key="TYPE3740_CONNSTR" value="Server=tcp:hsg3oe.database.windows.net,1433;Database=o9GbJzWe;User ID=TfAPMr;Password=E5gF0shEy0Mi_xlelBWHUmBglte4vZDzqDc2UqaL2j4h;Encrypt=True;" />
    <add key="TYPE3741_MONGO_URI" value="mongodb+srv://iBzSuz:6JicIN1QHlr5Bl2Ftoi3ThnyMUDBMz-D5EDq@HXRUcx.example.net/G0QnfC?retryWrites=true&amp;w=majority" />
    <add key="TYPE3742_PG_URI" value="postgresql://XWGC3X:7u14eIA_rPEBUevl5_vJui_rNBEcYhV@rPixM7.example.net:5432/aFbnSAe2" />
    <add key="TYPE3743_REDIS_URI" value="redis://:tKYD7-VHXZDfd-kjTIRpAu8195iSu9ZJoQ1zvZuc@yTJ0IZ.example.net:6379/0" />
    <add key="TYPE3744_JWT" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJqVlZtdVc1ekt1IiwiaWF0IjoxNzc5Nzk1OTI2LCJhdWQiOiJleGFtcGxlIn0.vN4WGqOcrIcV0t4uyuZFG9ejJvUhqs97zCCfap8m9I0" />
    <add key="TYPE3745_WEBHOOK" value="https://hooks.example.com/services/iw0PMCD8E/F7KQvLB1U/pXxl9thB7Na7Blh1NxRZ4CeB4Y6_K" />
    <add key="TYPE3746_PRIVATE_KEY_B64" value="private_key_b64=ODextgpi/Fsz6TC04xt6X7zDBxNl52SeTNcmriPYW+MDpgEF7wfq6D/aXHl3olXX3hisxyPubW9aeCVuaNYCAA==" />
    <add key="TYPE3747_SAS" value="sv=2024-11-04&amp;ss=b&amp;srt=sco&amp;sp=rwdlac&amp;se=2030-01-01T00:00:00Z&amp;st=2026-01-01T00:00:00Z&amp;spr=https&amp;sig=YpzKn59y0Pmn7x9-SeNuQ2dZS5hEeRLHACUxZXaKXMw" />
    <add key="TYPE3748_NPM_TOKEN" value="//registry.npmjs.org/:_authToken=krHHc1i82OuTP_cKW_9F73tmIyCKAzK7GH-eBPIzerKTI0rA7WTnYlB6" />
    <add key="TYPE3749_GITHUB" value="ghp_J7aAFNKg9uDNH0E_gcLQF3BOtTsYPCbvlWhbv8AdiWhnBjZ" />
    <add key="TYPE3750_GITLAB" value="glpat-uQz0BsvuinHim3R0o4z1G" />
    <add key="TYPE3751_SENDGRID" value="SG.3s_uWAC1OgLfGWJUBs9amp.1Jdc5Qyl4KByqWtuhN5ErRx" />
    <add key="TYPE3752_GCP" value="AIza51lOQe44e3GIBc2Ers5L2_ykuDwcHTwdUwA" />
    <add key="TYPE3753_API_KEY" value="api_key=V-kMYE7y_CnHmGkl2eOeI1TjsDzudEPNyPxqdVdU5a13bU" />
    <add key="TYPE3754_TOKEN" value="token:ANuAFpAXV64HnIlV5se1VBYVTa4ARevmpFRor7C7SUv" />
    <add key="TYPE3755_PASSWORD" value="password=4hqHuFzemAp7IO31XkmuIgg6BVCPAMvzH7SeSDqJIaroM6x" />
    <add key="TYPE3756_CLIENT_SECRET" value="client_secret=zw1_rQdBNyAfTy8X21EBDPumX7-y" />
    <add key="TYPE3757_BEARER" value="Authorization: Bearer IsX4SryV63m3YeAVvPAPgfy7cr1y" />
    <add key="TYPE3758_BASIC" value="Authorization: Basic SWdjc2pYT0g6cko1Yk15NndQNVh3" />
    <add key="TYPE3759_CONNSTR" value="Server=tcp:s9DAfM.database.windows.net,1433;Database=lF2snSe7;User ID=aglCqf;Password=YEEazVwubFYl1zgRjbW_D95G-k4vGnHj3G2Bs1nJ;Encrypt=True;" />
    <add key="TYPE3760_MONGO_URI" value="mongodb+srv://4huocO:bOTNnvLGEF3P-E4sDPhFbTK-uAARiDfMaVdR_vc_ymo2ea5f@TOoyco.example.net/yuqJDj?retryWrites=true&amp;w=majority" />
    <add key="TYPE3761_PG_URI" value="postgresql://d90iCH:Uts2TBsB3aO3Qtul4xG7nWG14thbLWyirPJHiKPncEOaIauC@RPmTR2.example.net:5432/iR0vchow" />
    <add key="TYPE3762_REDIS_URI" value="redis://:w0VTy7s-SHa-zMcX5m5jWoYOlRjFW@iAgdwr.example.net:6379/0" />
    <add key="TYPE3763_JWT" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJQa1VYU3BJVnpDIiwiaWF0IjoxNzc5Nzk1OTI2LCJhdWQiOiJleGFtcGxlIn0.VR1d12l9Mn1S-JnfFvN4O9PW33d3c_mkYS-KbnrJ9R0" />
    <add key="TYPE3764_WEBHOOK" value="https://hooks.example.com/services/ANnzBmNdc/gdc7GbIh8/vTyKN7czVSWywZ7Xy3qSYnwU7LCuMDFWyxEVr_JQ86b9-n22t" />
    <add key="TYPE3765_PRIVATE_KEY_B64" value="private_key_b64=stbsxl+u1cWMKMHQ5bQR2lCbKIQ/NbwYlCOIydx02cJ2gesfdqhIwkL5eHvtbdxfx8JD3Bab/k3D5NM941zWvQ==" />
    <add key="TYPE3766_SAS" value="sv=2024-11-04&amp;ss=b&amp;srt=sco&amp;sp=rwdlac&amp;se=2030-01-01T00:00:00Z&amp;st=2026-01-01T00:00:00Z&amp;spr=https&amp;sig=Cl10-nvPU-7RTbNc-Jr_b-UblYpyzHFyBnW_IZdzRyY" />
    <add key="TYPE3767_NPM_TOKEN" value="//registry.npmjs.org/:_authToken=rjFopdq9LlJzu0C3IlP8Nz61mr4O2r5h95vq1GhIDWgIr" />
    <add key="TYPE3768_GITHUB" value="ghp_zExR9r-ln1AzFNmMOc03cRo3wvQYDHtyLpthMpdnLrU3Dc60g4FAm" />
    <add key="TYPE3769_GITLAB" value="glpat-4g9dLMTvJzu9QSkr1DMioqxUKy2" />
    <add key="TYPE3770_SENDGRID" value="SG.Q6ZvzeJoXk-5Nbth52BBG8.xHGJDjBpEFFSOgXMrsgQUZbj" />
    <add key="TYPE3771_GCP" value="AIzaQzW1ATiJEEB9lGqdQ3JWsP0-AwXektaYkVq" />
    <add key="TYPE3772_API_KEY" value="api_key=VU-qP87c1shBwbr8VweENzMVlZUJzhkj5OUPI99cko" />
    <add key="TYPE3773_TOKEN" value="token:-NadE8dfEXyx8QqQVPBT4Spc6JJVbNpH9-pQ4m9TKmvztZFzVZntAmq9KGm6" />
    <add key="TYPE3774_PASSWORD" value="password=jNxyyu1DBMT-k3arQhcDRMmxb3Pxifz2FR" />
    <add key="TYPE3775_CLIENT_SECRET" value="client_secret=1sVcFhrnkQfLUH85y17BlKCZ4PFc3_XFRH4_diutsx0SRp30u87efxIztQ4A" />
    <add key="TYPE3776_BEARER" value="Authorization: Bearer Y3GYhUeLVsJOi2xrgQ5BhGVnfo8F4zrucjEDR47oH96jtzsM9k" />
    <add key="TYPE3777_BASIC" value="Authorization: Basic cTVOaGR2Uks6N3lYNjRkZDVtRG81" />
    <add key="TYPE3778_CONNSTR" value="Server=tcp:Po1oth.database.windows.net,1433;Database=tRyESquY;User ID=JP0Wly;Password=bxHZsrxz1gGl622nhafatr8tc8W3gcYR8dm8wYWXRmZR7QUo8BZ0ugzer9-;Encrypt=True;" />
    <add key="TYPE3779_MONGO_URI" value="mongodb+srv://ZyJM57:yGzYDDgMZI72Zf23CnnZ4u342HrsKwA75f48NPnnr20kFTmv6H6vf6Nz7o9@O2YwSL.example.net/YRqCCC?retryWrites=true&amp;w=majority" />
    <add key="TYPE3780_PG_URI" value="postgresql://kSjq5d:rJD_4u_CZIrjPrRzVWn3RhUgLjnkrPjgLhR_L91ZToVPxNFwfYTQA9XsaG@PkbcnA.example.net:5432/k3G20x7N" />
    <add key="TYPE3781_REDIS_URI" value="redis://:tZ7dSt7-BWChuceEufdwmBv7YFus1L4oSQjIwHnsCF@qk2ibG.example.net:6379/0" />
    <add key="TYPE3782_JWT" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJJNkFzRmRtWThKIiwiaWF0IjoxNzc5Nzk1OTI2LCJhdWQiOiJleGFtcGxlIn0.R3lS2ARLbWEn_TvDjLFwG6ZFqEv6dVeIsnZ4r3ZWS8A" />
    <add key="TYPE3783_WEBHOOK" value="https://hooks.example.com/services/G5jU20av6/AChSpk1eq/R6Sp_zwXYsYb2lwkEPBcy-wlAbFhZQb9J8QwKu2IPf0Rz" />
    <add key="TYPE3784_PRIVATE_KEY_B64" value="private_key_b64=PFI9SbrndW2hI7myF6d5XzGNZwkSQF7zI1OkwK0Ppj625bBeapK72o6vBYxoMsAtQ1auMYPsRoPO6Gu4uF2yiA==" />
    <add key="TYPE3785_SAS" value="sv=2024-11-04&amp;ss=b&amp;srt=sco&amp;sp=rwdlac&amp;se=2030-01-01T00:00:00Z&amp;st=2026-01-01T00:00:00Z&amp;spr=https&amp;sig=eRFt52TIhCDrmMdRhCjLSiO3VNTDbVRkbkfTffqSnOg" />
    <add key="TYPE3786_NPM_TOKEN" value="//registry.npmjs.org/:_authToken=UNbu8_s21sQ7mAVY5FyhlPuMkO8uswDfP" />
    <add key="TYPE3787_GITHUB" value="ghp_uf4VAHherJ5tWgrlHKJs4IAkQjOz" />
    <add key="TYPE3788_GITLAB" value="glpat-scHXd36TwM0SvWtP5lNRvZV8zTNtD" />
    <add key="TYPE3789_SENDGRID" value="SG.XxALa9Q0LjPdt2Zf_RB1ai.w81L28xNZroYW1_9m8v_mUe" />
    <add key="TYPE3790_GCP" value="AIza5BdSchpBNdO30cKh8lIymB1UenNO-8gOI8K" />
    <add key="TYPE3791_API_KEY" value="api_key=xeaBORGYlEPOflpBmC9ua1Qisw4iAq5gpSDhev" />
    <add key="TYPE3792_TOKEN" value="token:Ve5Vh-HTJl0GW1560M_VMmzjDPLY_px13CBYGjwhE5wDU_UJ_x" />
    <add key="TYPE3793_PASSWORD" value="password=NVkLr9Adhuui094vO1LYB64sjhTqhq7204m" />
    <add key="TYPE3794_CLIENT_SECRET" value="client_secret=IWz1KGaila5QIbhO1_C4lNNDSdkKe3C__yY" />
    <add key="TYPE3795_BEARER" value="Authorization: Bearer rqQLdzoqpHLa4k5MTaEwiYrJvz08hk6820NUgx0LhP_13Ktl" />
    <add key="TYPE3796_BASIC" value="Authorization: Basic blJlbFlSZ046QlNQcEViSE9QSnBq" />
    <add key="TYPE3797_CONNSTR" value="Server=tcp:65H0xr.database.windows.net,1433;Database=2mgml7kN;User ID=weLwQF;Password=uoBCA7tZm4IBG59hjb26B-fjLUHb3Yh;Encrypt=True;" />
    <add key="TYPE3798_MONGO_URI" value="mongodb+srv://HuYeYh:u_By6DtewXxSLjKKV5PeROxRrKYcYss47ayetPca7g@Pa1lF4.example.net/cBU2H8?retryWrites=true&amp;w=majority" />
    <add key="TYPE3799_PG_URI" value="postgresql://jxpRfL:Jp2zF85snBJLSnsp3eJlO_tU3E4n@ckpJVR.example.net:5432/eA9W45UZ" />
    <add key="TYPE3800_REDIS_URI" value="redis://:H4qXlYPz4WSn9vTqfExCxfg1IqaUCWN@feHwwR.example.net:6379/0" />
  </appSettings>
</configuration>
